@import "tailwindcss";

:root,
:host,
.spxThemeOverride,
.max-width-container {
  --color_0: 255, 255, 255;
  --color_1: 255, 255, 255;
  --color_2: 0, 0, 0;
  --color_3: 237, 28, 36;
  --color_4: 0, 136, 203;
  --color_5: 255, 203, 5;
  --color_6: 114, 114, 114;
  --color_7: 176, 176, 176;
  --color_8: 255, 255, 255;
  --color_9: 114, 114, 114;
  --color_10: 176, 176, 176;
  --color_11: 130, 60, 46;
  --color_12: 99, 48, 37;
  --color_13: 217, 217, 217;
  --color_14: 244, 227, 220;
  --color_15: 244, 227, 220;
  --color_16: 229, 240, 254;
  --color_17: 255, 255, 255;
  --color_18: 255, 255, 255;
  --color_19: 0, 58, 150;
  --color_20: 0, 29, 75;
  --color_21: 249, 197, 180;
  --color_22: 243, 167, 143;
  --color_23: 255, 255, 255;
  --color_24: 158, 59, 27;
  --color_25: 79, 29, 14;
  --color_26: 210, 172, 247;
  --color_27: 186, 131, 240;
  --color_28: 128, 21, 232;
  --color_29: 85, 14, 155;
  --color_30: 43, 7, 77;
  --color_31: 177, 211, 187;
  --color_32: 127, 168, 139;
  --color_33: 64, 124, 81;
  --color_34: 43, 83, 54;
  --color_35: 21, 41, 27;
  --color_36: 255, 255, 255;
  --color_37: 130, 60, 46;
  --color_38: 224, 206, 203;
  --color_39: 193, 158, 151;
  --color_40: 161, 109, 98;
  --color_41: 99, 48, 37;
  --color_42: 244, 227, 220;
  --color_43: 36, 33, 33;
  --color_44: 255, 255, 255;
  --color_45: 244, 227, 220;
  --color_46: 244, 227, 220;
  --color_47: 244, 227, 220;
  --color_48: 244, 227, 220;
  --color_49: 244, 227, 220;
  --color_50: 130, 60, 46;
  --color_51: 130, 60, 46;
  --color_52: 244, 227, 220;
  --color_53: 244, 227, 220;
  --color_54: 161, 109, 98;
  --color_55: 161, 109, 98;
  --color_56: 224, 206, 203;
  --color_57: 130, 60, 46;
  --color_58: 130, 60, 46;
  --color_59: 255, 255, 255;
  --color_60: 255, 255, 255;
  --color_61: 130, 60, 46;
  --color_62: 130, 60, 46;
  --color_63: 161, 109, 98;
  --color_64: 161, 109, 98;
  --color_65: 224, 206, 203;
  --font_0: normal normal normal 226px / 1em marcellus, serif;
  --font_1: normal normal normal 16px / 1.4em din-next-w01-light, sans-serif;
  --font_2: normal normal normal 95px / 1.15em marcellus, serif;
  --font_3: normal normal normal 43px / 1.2em marcellus, serif;
  --font_4: normal normal normal 30px / 1.4em marcellus, serif;
  --font_5: normal normal normal 22px / 1.4em marcellus, serif;
  --font_6: normal normal normal 24px / 1.4em marcellus, serif;
  --font_7: normal normal normal 24px / 1.3em helvetica-w01-light, sans-serif;
  --font_8: normal normal normal 15px / 1.5em helvetica-w01-light, sans-serif;
  --font_9: normal normal normal 14px / 1.3em helvetica-w01-light, sans-serif;
  --font_10: normal normal normal 12px / 1.4em din-next-w01-light, sans-serif;
  --wix-ads-height: 50px;
}

:root{
  
  --wst-button-color-fill-primary: rgb(var(--color_48));
    --wst-button-color-border-primary: rgb(var(--color_49));
    --wst-button-color-text-primary: rgb(var(--color_50));
    --wst-button-color-fill-primary-hover: rgb(var(--color_51));
    --wst-button-color-border-primary-hover: rgb(var(--color_52));
    --wst-button-color-text-primary-hover: rgb(var(--color_53));
    --wst-button-color-fill-primary-disabled: rgb(var(--color_54));
    --wst-button-color-border-primary-disabled: rgb(var(--color_55));
    --wst-button-color-text-primary-disabled: rgb(var(--color_56));
    --wst-button-color-fill-secondary: rgb(var(--color_57));
    --wst-button-color-border-secondary: rgb(var(--color_58));
    --wst-button-color-text-secondary: rgb(var(--color_59));
    --wst-button-color-fill-secondary-hover: rgb(var(--color_60));
    --wst-button-color-border-secondary-hover: rgb(var(--color_61));
    --wst-button-color-text-secondary-hover: rgb(var(--color_62));
    --wst-button-color-fill-secondary-disabled: rgb(var(--color_63));
    --wst-button-color-border-secondary-disabled: rgb(var(--color_64));
    --wst-button-color-text-secondary-disabled: rgb(var(--color_65));
    --wst-color-fill-base-1: rgb(var(--color_36));
    --wst-color-fill-base-2: rgb(var(--color_37));
    --wst-color-fill-base-shade-1: rgb(var(--color_38));
    --wst-color-fill-base-shade-2: rgb(var(--color_39));
    --wst-color-fill-base-shade-3: rgb(var(--color_40));
    --wst-color-fill-accent-1: rgb(var(--color_41));
    --wst-color-fill-accent-2: rgb(var(--color_42));
    --wst-color-fill-accent-3: rgb(var(--color_43));
    --wst-color-fill-accent-4: rgb(var(--color_44));
    --wst-color-fill-background-primary: rgb(var(--color_11));
    --wst-color-fill-background-secondary: rgb(var(--color_12));
    --wst-color-text-primary: rgb(var(--color_15));
    --wst-color-text-secondary: rgb(var(--color_14));
    --wst-color-action: rgb(var(--color_18));
    --wst-color-disabled: rgb(var(--color_39));
    --wst-color-title: rgb(var(--color_45));
    --wst-color-subtitle: rgb(var(--color_46));
    --wst-color-line: rgb(var(--color_47));
    --wst-font-style-h2: var(--font_2);
    --wst-font-style-h3: var(--font_3);
    --wst-font-style-h4: var(--font_4);
    --wst-font-style-h5: var(--font_5);
    --wst-font-style-h6: var(--font_6);
    --wst-font-style-body-large: var(--font_7);
    --wst-font-style-body-medium: var(--font_8);
    --wst-font-style-body-small: var(--font_9);
    --wst-font-style-body-x-small: var(--font_10);
    --wst-color-custom-1: rgb(var(--color_13));
    --wst-color-custom-2: rgb(var(--color_16));
    --wst-color-custom-3: rgb(var(--color_17));
    --wst-color-custom-4: rgb(var(--color_19));
    --wst-color-custom-5: rgb(var(--color_20));
    --wst-color-custom-6: rgb(var(--color_21));
    --wst-color-custom-7: rgb(var(--color_22));
    --wst-color-custom-8: rgb(var(--color_23));
    --wst-color-custom-9: rgb(var(--color_24));
    --wst-color-custom-10: rgb(var(--color_25));
    --wst-color-custom-11: rgb(var(--color_26));
    --wst-color-custom-12: rgb(var(--color_27));
    --wst-color-custom-13: rgb(var(--color_28));
    --wst-color-custom-14: rgb(var(--color_29));
    --wst-color-custom-15: rgb(var(--color_30));
    --wst-color-custom-16: rgb(var(--color_31));
    --wst-color-custom-17: rgb(var(--color_32));
    --wst-color-custom-18: rgb(var(--color_33));
    --wst-color-custom-19: rgb(var(--color_34));
    --wst-color-custom-20: rgb(var(--color_35));
}